// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";

.payment_wrapper {
  background: white;
  border: #4c4848;
  padding: 4px;
}

.payment_logo_wrapper {
  border-radius: 0;
  border-color: rgb(235, 233, 233);

}

.payment_logo_wrapper img {
  border-radius: 0;
  border-color: rgb(235, 233, 233);

}

.payment_logo_wrapper :hover {
  border-radius: 0;
  border: none;
}

.merchant_img {
  height: 156px;
  width: 164px;
  margin-left: 22px;
}

.merchant_img img {
  height: 156px;
  width: 164px;
}

.service_charge_type_wrapper {
  color: rgb(54, 54, 247);
  cursor: pointer;

}

.image-wrapper {
  width: 100%;
  object-fit: contain;
  backdrop-filter: blur(1px);
}

.date-picker-input {
  width: 100%;
  height: 38px;
  border: 1px solid rgb(173, 172, 172);
  border-radius: 5px;
  padding: 6px;
}

.chang-password{
  cursor:pointer;
}

.login-image-wrapper{
  width: 226px;
}

.bg-color {
  background-color: rgb(6, 6, 42);
}

// .payment_wrapper :hover{
//     background-color:  rgb(235, 233, 233);
// }

// .btn:hover{
//     border: 0;
//     background-color:  white!important;
//     border-color: rgb(235, 233, 233);
// }